.body {
    flex: 1;
    display: flex;
    font-size: 24px;
  }

  .textblock{
    display: grid;
    margin-left: 265px;
    margin-bottom: 131px;
    margin-top: 280px;

  }

  @font-face {
    font-family: 'BarlowCondensed-Regular';
    src: url('../src/fonts/BarlowCondensed-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Bellefair-Regular';
    src: url('../src/fonts/Bellefair-Regular.ttf') format('truetype');
  }

  .par-1{
    font-family: 'BarlowCondensed-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 64px;
    letter-spacing: 4.75px;

    width: 379px;
    height: 31px;
    color: #D0D6F9;
  }

  .h-1{
    font-family: 'Bellefair-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 172px;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-top: 24px;
    margin-bottom: 2px;
  }

  .p-1{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;

    margin: 0;
    color: #D0D6F9;
    width: 444px;
    height: 128px;

}

// .explorebtn {
//   text-decoration: none;
//   // margin-left: 0;
//   width: 50px;
//   height: 300px;
// }


// .white-circle {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 330px;
//     height: 330px;
//     border-radius: 50%;
//     background-color: white;
//     margin: 311px 0 0 630px;
//     transition: all 0.9s ease;


//   }

//   .white-circle:hover {
//     transform: scale(1.1);
//   }


//   .btntext {
//     display: flex;
//     color: #3D3D3D;
//     text-transform: uppercase;
//     font-family: 'Bellefair-Regular';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 32px;
//     line-height: 37px;
//     letter-spacing: 10px;

//     text-decoration: none; /* added */
//   }
  
.explorebtn {
  position: relative;
  width: 330px;
  height: 330px;
}

.white-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  background-color: white;
  margin: 311px 0 0 630px;
  transition: all 0.9s ease;
}

.white-circle:hover {
  transform: scale(1.1);
}

.btntext {
  display: flex;
  color: #3D3D3D;
  text-transform: uppercase;
  font-family: 'Bellefair-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 10px;
  text-decoration: none;
}

.explorebtn > div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

  
