@font-face {
    font-family: 'Barlow Condensed medium';
    src: url('../src/fonts/BarlowCondensed-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Barlow Condensed';
    src: url('../src/fonts/BarlowCondensed-Thin.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Bellefair';
    src: url('../src/fonts/Bellefair-Regular.ttf') format('truetype');
  }

.destination {
    display: flex;
    flex-direction: column;
    position: fixed;


    background-image: url("/images/Bitmap1.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .container{
    display: flex;
    justify-content: space-between;

  }

  .box{
    height: 800px;
    width: 600px;
  }

  .h{
    display: flex;

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    letter-spacing: 4.725px;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  .num{

    margin-right: 28px;
    margin-left: 166px;

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    
    letter-spacing: 4.725px;
    
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.moon {
    background-image: url("/images/Moon.svg");
    margin-left: 37%;
    margin-top: 10%;

    width: 445px;
    height: 445px;

    background-repeat: no-repeat;
    background-position: center center;

    animation: rotate 48s infinite linear;
}

.mars {
    background-image: url("/images/Mars.svg");
    margin-left: 200px;
    margin-top: 97px;

    width: 445px;
    height: 445px;
    background-repeat: no-repeat;
    background-position: center center;

    animation: rotate 48s infinite linear;
  
}
.europa {
    background-image: url("/images/Europa.svg");
    margin-left: 200px;
    margin-top: 97px;

    width: 445px;
    height: 445px;
    background-repeat: no-repeat;
    background-position: center center;

    animation: rotate 48s infinite linear;
  
}
.titan {
    background-image: url("/images/Titan.svg");
    margin-left: 200px;
    margin-top: 97px;

    width: 445px;
    height: 445px;
    background-repeat: no-repeat;
    background-position: center center;

    animation: rotate 48s infinite linear;
  
}

.infocontainer {
    position: fixed;
    right: 0;
    
    height: 47vw;
    width: 35vw; 

    margin-top: 9%;
  }

.btn {
  background-color: transparent;
  border: none;
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 19px;
  letter-spacing: 2.7px;

  font-family: 'Barlow Condensed';
  font-style: normal;
  text-transform: uppercase;
  
  cursor: pointer;
  color: #D0D6F9;
}

.btn:hover {
  color: white;
  opacity: 0.5;
}

.btn::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0;
  height: 2.8px;
  background-color: white;
  transition: width 0.4s ease-out;

  border-radius: 25px;
}

.btn:hover::before,
.btn:focus::before {
  width: 100%;
}

.ttravel{
    display: flexbox;
    margin-right: 100px;
}

@media (max-width: 904px) {
 
  .planets{
  margin-left: 24%;
  width:fit-content;
  background-size: contain;
  }

  .container{
    display: flex;
    align-items: flex-start;
  }
  .box{
    margin-left: -16%;
    height: 30vw;
  }
  .infocontainer{
    // display: none;


    position: absolute;
    width: 80%;
    margin-top: 80vw;
  }
}