$font-barlow-condensed: 'Barlow Condensed', sans-serif;
$font-barlow-condensed-medium: 'Barlow Condensed medium', sans-serif;
$color-white: #FFFFFF;
$color-hover: #c7c7c7;



.header {
  display: flex;
  align-items: center; 

  width: 100%;
  height: 100px;
  padding: 0 20px;
  margin-top: 40px;
  margin-left: 55px;
}

.star {
  display: flex;
  justify-content: flex-start;
  
  background-image: url("/images/Logo/Group 2.svg");
  width: 48px;
  height: 48px;
  // margin-left: 80px;
  margin-right: 64px;
}



.rectangle {
  position: relative;
  width: 40%;
  height: 1.2px;
  border-radius: 0;

  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;

  margin-right: -5%;

  @media (max-width: 1289px) {
  width: 40%;
}
}

.blurred-rectangle {
  display: flex;
  justify-content: flex-start;

  background-color: rgba($color-white, 0.1);
  backdrop-filter: blur(40px);
  width: 58%;
  height: 96px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65%;
  padding: 0 200px 0 50px;
  width: 70%;
}

.nav li {
  list-style: none;
  text-transform: uppercase;
  padding: 10px;
}

.text {
  font-family: $font-barlow-condensed;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  padding: 10px;
  color: $color-white;
  position: relative;
  text-decoration: none;

  &:hover {
    color: $color-hover;

    &::after {
      content: '';
      position: absolute;
      bottom: -29px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-white;
    }
  }
}

.number {
  font-family: $font-barlow-condensed-medium;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: $color-white;
}

@media (max-width: 904px) {

  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-left: 38px;
  }
  .blurred-rectangle{
    display: flex;
    justify-self: start;

    width: 66%;
  }
  .nav{
    display: flex;
    justify-content: center;
  }

  .rectangle{display: none;}
  .number{display: none;}
  .text{font-family: $font-barlow-condensed;}

}